nodered_debug_flow.json
[
    {
        "id": "debug_control_tab",
        "type": "tab",
        "label": "ESP32_A Debug Control",
        "disabled": false,
        "info": "Control debug flags for ESP32_A in real-time via MQTT"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Adafruit IO",
        "broker": "io.adafruit.com",
        "port": "8883",
        "tls": "adafruit_tls",
        "clientid": "nodered_esp32_debug",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "adafruit_tls",
        "type": "tls-config",
        "name": "Adafruit TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "io.adafruit.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_in_sensors",
        "type": "mqtt in",
        "z": "debug_control_tab",
        "name": "ESP32_A Sensors",
        "topic": "walidait/feeds/esp32_a_sensors",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "debug_sensors",
                "format_sensors"
            ]
        ]
    },
    {
        "id": "debug_sensors",
        "type": "debug",
        "z": "debug_control_tab",
        "name": "Sensor Data (console)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "format_sensors",
        "type": "function",
        "z": "debug_control_tab",
        "name": "Format for display",
        "func": "msg.topic = \"Sensor Data\";\nmsg.payload = `\nTemperature: ${msg.payload.temperature}°C\nCO: ${msg.payload.co}V\nHeart Rate: ${msg.payload.heart_rate.bpm} BPM / ${msg.payload.heart_rate.spo2}%\nAccelerometer: x=${msg.payload.acc.x}g y=${msg.payload.acc.y}g z=${msg.payload.acc.z}g\nUltrasonic: ${msg.payload.ultrasonic_distance_cm}cm\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "display_sensors"
            ]
        ]
    },
    {
        "id": "display_sensors",
        "type": "debug",
        "z": "debug_control_tab",
        "name": "Formatted Output",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "section_debug_controls",
        "type": "comment",
        "z": "debug_control_tab",
        "name": "=== DEBUG FLAG CONTROLS ===",
        "info": "Toggle individual debug flags or use presets",
        "x": 200,
        "y": 200,
        "wires": []
    },
    {
        "id": "toggle_mqtt_client",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "MQTT Client ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"mqtt_client\",\"enabled\":true}",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "toggle_mqtt_client_off",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "MQTT Client OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"mqtt_client\",\"enabled\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "toggle_temperature_on",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Temperature ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"temperature\",\"enabled\":true}",
        "payloadType": "json",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "toggle_temperature_off",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Temperature OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"temperature\",\"enabled\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "toggle_co_on",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "CO ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"co\",\"enabled\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "toggle_co_off",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "CO OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flag\":\"co\",\"enabled\":false}",
        "payloadType": "json",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "section_presets",
        "type": "comment",
        "z": "debug_control_tab",
        "name": "=== PRESET CONFIGURATIONS ===",
        "info": "Quick presets for common debug scenarios",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "preset_minimal",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Preset: Only MQTT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flags\":{\"mqtt_client\":true,\"temperature\":false,\"co\":false,\"ultrasonic\":false,\"heart_rate\":false,\"accelerometer\":false,\"buttons\":false,\"logic\":false,\"espnow\":false,\"hooks\":false}}",
        "payloadType": "json",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "preset_all_on",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Preset: All ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flags\":{\"mqtt_client\":true,\"temperature\":true,\"co\":true,\"ultrasonic\":true,\"heart_rate\":true,\"accelerometer\":true,\"buttons\":true,\"logic\":true,\"espnow\":true,\"hooks\":true}}",
        "payloadType": "json",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "preset_sensors",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Preset: Sensors Only",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flags\":{\"mqtt_client\":true,\"temperature\":true,\"co\":true,\"ultrasonic\":true,\"heart_rate\":true,\"accelerometer\":true,\"buttons\":false,\"logic\":false,\"espnow\":false,\"hooks\":false}}",
        "payloadType": "json",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "preset_all_off",
        "type": "inject",
        "z": "debug_control_tab",
        "name": "Preset: All OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"flags\":{\"mqtt_client\":false,\"temperature\":false,\"co\":false,\"ultrasonic\":false,\"heart_rate\":false,\"accelerometer\":false,\"buttons\":false,\"logic\":false,\"espnow\":false,\"hooks\":false}}",
        "payloadType": "json",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "mqtt_out_debug"
            ]
        ]
    },
    {
        "id": "mqtt_out_debug",
        "type": "mqtt out",
        "z": "debug_control_tab",
        "name": "Send to ESP32_A",
        "topic": "walidait/feeds/esp32_a_debug",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "debug_commands",
        "type": "debug",
        "z": "debug_control_tab",
        "name": "Commands Sent",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "instruction",
        "type": "comment",
        "z": "debug_control_tab",
        "name": "Click inject buttons to send debug commands via MQTT. Console shows incoming sensors and outgoing commands.",
        "info": "Use the left side for individual flag control, right side for presets. Monitor console output for debugging.",
        "x": 450,
        "y": 60,
        "wires": []
    }
]
